@{
    ViewData["Title"] = "Home Page";
}
@model lapGen.Views.ViewModels.LapGenViewModel
<div class="text-center">
    <h1 class="page-title">Welcome</h1>
</div>
<hr>
<div class="text-center">
    
    @Html.Label("Select Car:")
    @Html.DropDownList("ddl_cars", Model.utilsRef.GenDropDownList(Model.cars,"Name"), new { @class="form-control"})  

    @Html.Label("Select Driver:")
    @Html.DropDownList("ddl_drivers", Model.utilsRef.GenDropDownList(Model.drivers,"Name"), new { @class="form-control"})  
    
    <button id="startBtn" role="button" onclick="StartLapGen()" class="btn btn-default">Start</button>
    <button id="stopBtn" role="button" class="btn btn-default">Stop</button>

@section Scripts {
<script>
    function StartLapGen()
    {
        
        $.postJSON('/GenLaps',function(data) {
            alert();
        });
    }
    function StopLapGen()
    {

    }
</script>
}
